body {
  padding: 0;
  margin: 0px;
  background-color: honeydew;
}

.container {
  display: grid;
  grid-template-rows: 100px 100px auto 100px;
  grid-template-columns: auto 200px;
  grid-template-areas: 
    "header header"
    "menu menu"
    "content sidebar"
    "footer footer";
  position:absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
}

header {
  grid-area: header;
  border: 4px solid orangered;
}

nav {
  grid-area: menu;
  border: 4px solid blue;
}

main {
  grid-area: content;
  border: 4px solid rebeccapurple;
}

aside {
  grid-area: sidebar;
  border: 4px solid olivedrab;
}

footer {
  grid-area: footer;
  border: 4px solid hotpink;
}
