body {
  padding: 0;
  margin: 20px;
}

.container {
  border: 5px dashed green;
}

.container > div {
  border: 2px solid blue;
  padding: 5px;
}

.container > div:nth-child(2) {
  position: fixed;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
}